# [myDB]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [myDB]    Script Date: 2024/11/29 下午 02:45:30 ******/
CREATE DATABASE [myDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'myDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'myDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\myDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [myDB] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [myDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [myDB] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [myDB] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [myDB] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [myDB] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [myDB] SET ARITHABORT OFF 
GO
ALTER DATABASE [myDB] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [myDB] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [myDB] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [myDB] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [myDB] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [myDB] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [myDB] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [myDB] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [myDB] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [myDB] SET  DISABLE_BROKER 
GO
ALTER DATABASE [myDB] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [myDB] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [myDB] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [myDB] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [myDB] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [myDB] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [myDB] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [myDB] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [myDB] SET  MULTI_USER 
GO
ALTER DATABASE [myDB] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [myDB] SET DB_CHAINING OFF 
GO
ALTER DATABASE [myDB] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [myDB] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [myDB] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [myDB] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [myDB] SET QUERY_STORE = ON
GO
ALTER DATABASE [myDB] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Customers]

In [0]:
USE [myDB]
GO

In [0]:
/****** Object:  Table [dbo].[Customers]    Script Date: 2024/11/29 下午 02:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](51) NULL,
	[tel] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[initDate] [datetime] NULL,
 CONSTRAINT [PK__Customer__3213E83F1FA9C28E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Orderdetial]

In [0]:
/****** Object:  Table [dbo].[Orderdetial]    Script Date: 2024/11/29 下午 02:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orderdetial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NULL,
	[productID] [int] NULL,
	[amount] [int] NULL,
	[price] [int] NULL,
	[total] [int] NULL,
	[memo] [nvarchar](50) NULL,
	[initDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[orders]

In [0]:
/****** Object:  Table [dbo].[orders]    Script Date: 2024/11/29 下午 02:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [int] NULL,
	[total] [int] NULL,
	[initDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Products]

In [0]:
/****** Object:  Table [dbo].[Products]    Script Date: 2024/11/29 下午 02:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](51) NULL,
	[price] [int] NULL,
	[initDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Customers]

In [0]:
SET IDENTITY_INSERT [dbo].[Customers] ON 
INSERT [dbo].[Customers] ([id], [name], [tel], [address], [initDate]) VALUES (1, N'apple', N'123456789', N'USA', CAST(N'2024-11-29T14:13:03.510' AS DateTime))
INSERT [dbo].[Customers] ([id], [name], [tel], [address], [initDate]) VALUES (2, N'asus', N'987654321', N'Taiwan', CAST(N'2024-11-29T14:13:03.510' AS DateTime))
INSERT [dbo].[Customers] ([id], [name], [tel], [address], [initDate]) VALUES (3, N'sony', N'52012345', N'Japan', CAST(N'2024-11-29T14:13:03.510' AS DateTime))
INSERT [dbo].[Customers] ([id], [name], [tel], [address], [initDate]) VALUES (4, N'samsung', N'99999', N'Korea', CAST(N'2024-11-29T14:13:03.510' AS DateTime))
INSERT [dbo].[Customers] ([id], [name], [tel], [address], [initDate]) VALUES (5, N'lg', NULL, NULL, CAST(N'2024-11-29T14:13:03.510' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO

# [dbo].[Orderdetial]

In [0]:
SET IDENTITY_INSERT [dbo].[Orderdetial] ON 
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (1, 1, 1, 2, 100, 200, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (2, 1, 2, 3, 200, 600, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (3, 2, 1, 2, 100, 200, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (4, 1, 3, 1, 300, 300, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (5, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (6, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (7, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (8, 2, 4, 2, 500, 1000, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (9, 3, 3, 3, 300, 900, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
INSERT [dbo].[Orderdetial] ([id], [orderID], [productID], [amount], [price], [total], [memo], [initDate]) VALUES (10, 2, 1, 2, 300, 600, NULL, CAST(N'2024-11-29T13:32:18.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orderdetial] OFF
GO

# [dbo].[orders]

In [0]:
SET IDENTITY_INSERT [dbo].[orders] ON 
INSERT [dbo].[orders] ([id], [customerID], [total], [initDate]) VALUES (1, 1, 800, CAST(N'2024-11-29T12:07:50.467' AS DateTime))
INSERT [dbo].[orders] ([id], [customerID], [total], [initDate]) VALUES (2, 1, 1800, CAST(N'2024-11-29T14:18:46.160' AS DateTime))
INSERT [dbo].[orders] ([id], [customerID], [total], [initDate]) VALUES (3, 2, 900, CAST(N'2024-11-29T14:18:46.160' AS DateTime))
INSERT [dbo].[orders] ([id], [customerID], [total], [initDate]) VALUES (4, 3, 900, CAST(N'2024-11-29T14:18:46.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO

# [dbo].[Products]

In [0]:
SET IDENTITY_INSERT [dbo].[Products] ON 
INSERT [dbo].[Products] ([id], [name], [price], [initDate]) VALUES (1, N'candy', 100, CAST(N'2024-11-29T14:17:16.610' AS DateTime))
INSERT [dbo].[Products] ([id], [name], [price], [initDate]) VALUES (2, N'cookie', 200, CAST(N'2024-11-29T14:17:16.610' AS DateTime))
INSERT [dbo].[Products] ([id], [name], [price], [initDate]) VALUES (3, N'chooco', 300, CAST(N'2024-11-29T14:17:16.610' AS DateTime))
INSERT [dbo].[Products] ([id], [name], [price], [initDate]) VALUES (4, N'suger', 1500, CAST(N'2024-11-29T14:17:16.610' AS DateTime))
INSERT [dbo].[Products] ([id], [name], [price], [initDate]) VALUES (5, N'drink', 300, CAST(N'2024-11-29T14:17:16.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO

# [FK_orders_Customers]

In [0]:
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_Customers] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_Customers]
GO

# [myDB]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [myDB] SET  READ_WRITE 
GO